@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

#root {
  width: 100%;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}
